.album-detail
    .header
        button.btn.right.album-info-btn(ng-show='isMobile', ng-click='isSideShown=!isSideShown')
            i.md-info.left-icon
            | 相册信息
        button.btn.menu-btn(ng-click='showMenu=!showMenu', ng-show='isMobile', ng-class='{"btn-blue": showMenu}')
            i.md-menu.left-icon
            | 菜单
        ul.header-menu(ng-hide='isMobile && !showMenu')
            li: button.btn(ripple='black')
                i.md-file-upload.left-icon
                | 上传相片
            li: button.btn(ripple='black')
                i.md-my-library-add.left-icon
                | 选择全部
            li: button.btn(ripple='black')
                i.md-filter-none.left-icon
                | 取消选择
            li: button.btn(ripple='black')
                i.md-select-all.left-icon
                | 反向选择

    .image-list
    .side-content(ng-class='{show: isSideShown}')
        .album-cover(style='background-image: url({{assets.server + album.cover}})')
        .section
            p.section-name
                i.md-photo-album.left-icon
                | 相册名称
            h2.album-name {{album.name}}
        .section
            p.section-name
                i.md-dehaze.left-icon
                | 相册描述
            p.album-desc {{album.desc}}
        .album-action
            button.btn.btn-raised.btn-blue(ripple)
                i.md-file-upload.left-icon
                | 上传相片
            button.btn.btn-raised.btn-green(ripple)
                i.md-edit.left-icon
                | 编辑相册
            button.btn.btn-raised.btn-red(ripple)
                i.md-clear.left-icon
                | 删除相册
dialog-box(ng-show='showUpload', cancel='showUpload=false', confirm='uploadImage()', title='上传图片')
    .insert-image
        #upload
            p.description 从本地上传图片：
            .upload-btn(ng-hide='isAdded || isUploading || isFinished')
                p: button.btn.md-photo
                p: button.btn.btn-blue 选择图片
                input#file-input(type='file', nv-file-select, uploader='uploader')/
            ul.selected-item(ng-show='isAdded')
                li(ng-repeat='item in uploader.queue')
                    .item-info
                        .item-info-text
                            div
                                span 文件名：
                                | {{item.file.name}}
                            div
                                span 文件大小：
                                | {{item.file.size/1024/1024 | number:2}} Mb
                            div
                                span 文件上传进度：
                                | {{item.progress}} %
                        .item-preview
                            .thumb(img-thumb='{file: item._file, height: 300}', ng-hide='isFinished')
                            img(ng-src='{{imgUrl}}', ng-show='isFinished')
                    .upload-progress
                        .progress-bar-outer
                            .progress-bar-inner(ng-style='{width: item.progress + "%"}')
                    .item-action
                        button.btn.btn-yellow(
                            ng-click='warning()',
                            ng-disabled='!item.isUploading',
                            ng-class='{"btn-disabled": !item.isUploading}') 取消上传
                        button.btn.btn-blue(
                            ng-click='item.upload()',
                            ng-disabled='item.isReady || item.isUploading || item.isSuccess',
                            ng-class='{"btn-disabled": item.isReady || item.isUploading || item.isSuccess}'
                            ) 开始上传
                        button.btn.btn-green(
                            ng-click='reSelect(item)',
                            ng-disabled='item.isUploading',
                            ng-class='{"btn-disabled": item.isUploading}') 重新选择
                    msg-box(callback='cancelUpload(item)', ng-show='cancelWarning') 确认要取消正在上传的图片？
                    msg-box(type='error', ng-show='isError', callback='isError=false') {{errorItem.item.name}} 上传失败！失败代码：{{errorItem.code}}