extends layout

block extra_css
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/jquery.fileupload.css')
    block admin_css


block content
    section.db-admin
        nav.db-nav
            div.db-nav-wrapper
                div.db-brand-wrapper
                    a.db-brand(href='/') BLOG
                div.db-nav-menu
                    ul.db-menu-wrapper
                        li: a(href='#{adminPath}') 
                            i.fa.fa-home
                        li: a(href='#{adminPath}/post') 
                            i.fa.fa-archive
                        li: a(href='#{adminPath}/gallery')
                            i.fa.fa-image
                        li: a(href='#{adminPath}/files/public')
                            i.fa.fa-folder-open
                        li: a(href='#{adminPath}/upload')
                            i.fa.fa-cloud-upload
                        - if (locals.current_user.role === 'admin')
                            li.db-setting-btn: a(href='#{adminPath}/settings')
                                i.fa.fa-wrench
        .db-header-container
            nav.db-header-nav
                .container-fluid
                    ul.db-nav-left
                        li
                            a(href='#{adminPath}/post/new') 
                                i.fa.fa-pencil
                    .db-dashboard-title Dashboard
                    ul.db-nav-right
                        li: a.db-user-avatar(href='#{adminPath}/u/#{locals.current_user.uid}' style='background-image: url(#{locals.current_user.avatar})')
                        li: a(href='#{adminPath}/signout')
                            i.fa.fa-sign-out
                            


        block post_content
        block new_post
        block gallery
        block files
        block upload
        block settings
        block user
        block preview
        block album
block extra_script
    script(type='text/javascript', src='/js/icheck.min.js')
    block admin_script
 