extends admin

block post_content
    .db-post-content
        .db-sidebar
            .db-sidebar-container
                h3.db-sidebar-title 文章分类
                ul
                    - if (categories)
                        - categories.forEach(function (item, index, array) {
                            li.db-cate-list
                                a(href='/category?c=#{index}') #{item.name} (#{item.count})
                                //- span.badge #{item.count}
                                //- .db-cate-ctrl
                                    a.db-cate-edit(href='#{adminPath}/category/#{item._id}/edit') 修改
                                    a.db-cate-delete(href='#{adminPath}/category/#{item._id}/delete', data-toggle='modal', data-target='#delete-cate') 删除
                        -   })
                    - else
                        li 没有分类
                    li.db-add-cate
                        form.db-cate-wrapper(method='post', action='#{adminPath}/category/new' id='newcate')
                            input.form-control.db-cate-input(type='text', name='name', placeholder='添加一条新的分类')
                            button.btn.btn-primary.db-cate-btn(type='submit', form='newcate') 添加
        .db-post-main
            .db-post-wrapper
                - posts.forEach(function (item, index, array) {
                    .post-single
                        .post-main
                            a(href='#{adminPath}/post/edit/#{item._id}') #{item.title}
                            span.post-info
                                span
                                    //- i.glyphicon.glyphicon-list-alt
                                    | #{item.category}
                                span 
                                    //- i.glyphicon.glyphicon-time
                                    | #{item.date[0].year}/#{item.date[0].month}/#{item.date[0].date}
                -   })
        .modal.fade#delete-cate
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') &times;
                            span.sr-only Close
                        h4.modal-title 删除分类
                    .modal-body
                        p 该操作将会删除该分类。删除之前请确保分类下面没有文章。若分类下面仍有文章，则无法删除该分类。
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='button') 确定
