extends admin
block gallery
    div
        ul
            - albums.forEach(function (item, index) {
                li
                    a(href='#{adminPath}/gallery/#{item.name}') #{item.name}
                    span 数量：#{item.amount}
                    span #{item.desc}
                    - if (item.private)
                        span 私密相册
            - })

    div
        form(method='post', action='#{adminPath}/gallery/new')
            input.form-control(type='text', name='name', placeholder='album name')
            input.form-control(type='text', name='desc', placeholder='album desc')
            div.checkbox
                input(type='checkbox', name='private', checked='checked', id='flat-checkbox-1')
                label(for='flat-checkbox-1')
                    | 私密相册
            input(type='text', name='cover', placeholder='album cover')
            button(type='submit') submit