extends admin
block files
    ul
        - folders.forEach(function (item, index) {
            li
                a(href='#{adminPath}/files/#{item.name}') #{item.name}
                span Created in #{item.createTime.getFullYear()}/#{item.createTime.getMonth()+1}/#{item.createTime.getDate()} #{item.createTime.getHours()} : #{item.createTime.getMinutes()} : #{item.createTime.getSeconds()}
                span Created in #{item.lastModifiedTime.getFullYear()}/#{item.lastModifiedTime.getMonth()+1}/#{item.lastModifiedTime.getDate()} #{item.lastModifiedTime.getHours()} : #{item.lastModifiedTime.getMinutes()} : #{item.lastModifiedTime.getSeconds()}
        - })
        - files.forEach(function (item, index) {
            li
                a(href='#{adminPath}/files/#{item.name}') #{item.name}
                span Created in #{item.createTime.getFullYear()}/#{item.createTime.getMonth()+1}/#{item.createTime.getDate()} #{item.createTime.getHours()} : #{item.createTime.getMinutes()} : #{item.createTime.getSeconds()}
                span Created in #{item.lastModifiedTime.getFullYear()}/#{item.lastModifiedTime.getMonth()+1}/#{item.lastModifiedTime.getDate()} #{item.lastModifiedTime.getHours()} : #{item.lastModifiedTime.getMinutes()} : #{item.lastModifiedTime.getSeconds()}
                span File size: #{item.size/1024} kb 
        - })
