extends admin

block post_content
    .container-fluid.db-post-content
        .row
            .col-sm-3.col-md-2.sidebar
                .h
                    文章分类
                    ul.list-group
                        - if (categories)
                            - categories.forEach(function (item, index, array) {
                                li.list-group-item.db-cate-list
                                    a(href='/category?c=#{index}') #{item.name}
                                    span.badge #{item.count}
                                    .db-cate-ctrl
                                        a.db-cate-edit(href='#{adminPath}/category/#{item._id}/edit') 修改
                                        a.db-cate-delete(href='#{adminPath}/category/#{item._id}/delete', data-toggle='modal', data-target='#delete-cate') 删除
                            -   })
                        - else
                            li.list-group-item 没有分类
                        li.list-group-item
                            form.db-add-cate(method='post', action='#{adminPath}/category/new' id='newcate')
                                .input-group
                                    input.form-control(type='text', name='name', placeholder='添加一条新的分类')
                                    .input-group-btn
                                        button.btn.btn-primary(type='submit', form='newcate') 添加
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                - posts.forEach(function (item, index, array) {
                    .panel.panel-default
                        .panel-heading 
                            span 作者： #{item.author} | 
                            span 分类： #{item.category} | 
                            span 日期： #{item.date[1]}
                            span: a.glyphicon.glyphicon-remove.db-delete-post(href='#{adminPath}/post/delete/#{item._id}') 
                        .panel-body
                            h2: a(href='#{adminPath}/post/edit/#{item._id}') #{item.title}
                -   })
        .modal.fade#delete-cate
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') &times;
                            span.sr-only Close
                        h4.modal-title 删除分类
                    .modal-body
                        p 该操作将会删除该分类。删除之前请确保分类下面没有文章。若分类下面仍有文章，则无法删除该分类。
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='button') 确定
