extends admin
block album
    .db-album-detail
        h2.db-album-name #{album.name}
        ul
            - if (images && Object.prototype.toString.call(images) === '[object Array]')
                - each img in images
                    li: img(src='#{img.path}')
            - else if (images && typeof images === 'object')
                li: img(src='#{images.path}')

    

block admin_script
    script(type='text/javascript', src='/js/jquery.ui.widget.js')
    script(type='text/javascript', src='/js/jquery.blueimp-gallery.min.js')
    script(type='text/javascript', src='/js/jquery.iframe-transport.js')
    script(type='text/javascript', src='/js/jquery.fileupload.js')
    script.
        $("#fileupload").fileupload({
            url: "#{adminPath}/gallery/upload/#{album.name}",
            dataType: "json",
        });
