extends admin
block files
    .db-file
        .db-file-wrapper
            .file-nav
                ol
                    - var i = '';
                    - baseLink.substring(baseLink.indexOf('/')+1).split('/').forEach(function (item, index) {
                        - i = i + '/' + item;
                        li
                            a(href='#{adminPath}#{i}')  #{item} 
                            span /
                    - })
            .file-list
                table.file-list-wrapper
                    thead
                        tr
                            th Name
                            th Create Time
                            th Last Modified Time
                            th Size
                            th Actions
                    tbody
                        - var p = baseLink.split('/files')[1];
                        - each item, index in folders
                            tr
                                td
                                    i.glyphicon.glyphicon-folder-open
                                    a.db-filename(href='#{adminPath}#{baseLink}/#{item.name}') #{item.name}
                                td #{item.createTime.getFullYear()}/#{item.createTime.getMonth()+1}/#{item.createTime.getDate()}， #{item.createTime.getHours()} : #{item.createTime.getMinutes()}
                                td #{item.lastModifiedTime.getFullYear()}/#{item.lastModifiedTime.getMonth()+1}/#{item.lastModifiedTime.getDate()}/， #{item.lastModifiedTime.getHours()} : #{item.lastModifiedTime.getMinutes()}
                                td 0
                                td.db-action
                                    button.db-rename-btn(data-url='#{adminPath}/files/rename#{p}/#{item.name}', data-toggle='modal', data-target='#rename-file') Rename 
                                    button.db-delete-btn(data-url='#{adminPath}/files/delete#{p}/#{item.name}', data-toggle='modal',data-target='#delete-file') Delete

                        - each item,index in files
                            tr
                                td
                                    i.glyphicon.glyphicon-file
                                    - var type = (item.name.substring(item.name.lastIndexOf('.')+1) === 'zip') ? 'zip':'';
                                    - if (type === 'zip') {
                                        a.db-filename(href='#{adminPath}/files/zip/preview#{p}/#{item.name}') #{item.name}
                                    - } else {
                                        a.db-filename(href='#{adminPath}#{baseLink}/#{item.name}') #{item.name}
                                    - }
                                td #{item.createTime.getFullYear()}/#{item.createTime.getMonth()+1}/#{item.createTime.getDate()}/， #{item.createTime.getHours()} : #{item.createTime.getMinutes()}
                                td #{item.lastModifiedTime.getFullYear()}/#{item.lastModifiedTime.getMonth()+1}/#{item.lastModifiedTime.getDate()}/， #{item.lastModifiedTime.getHours()} : #{item.lastModifiedTime.getMinutes()}
                                td #{Math.ceil(item.size/1024)} kb 
                                td.db-action
                                    button.db-rename-btn(data-url='#{adminPath}/files/rename#{p}/#{item.name}', data-toggle='modal', data-target='#rename-file') Rename
                                    - if (item.name.substring(item.name.lastIndexOf('.')+1) === 'zip') {
                                        button.db-unzip-btn(data-url='#{adminPath}/files/zip/unzip#{p}/#{item.name}') Unzip
                                    - }
                                    a(href='#{adminPath}#{baseLink}/#{item.name}?download=direct') Download
                                    button.db-delete-btn(data-url='#{adminPath}/files/delete#{p}/#{item.name}',data-toggle='modal',data-target='#delete-file') Delete
            .modal.fade#delete-file
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') &times;
                                span.sr-only Close
                            h4.modal-title 删除文件
                        .modal-body
                            p 该操作将会删除该文件。请确定是否执行该操作。
                        .modal-footer
                            form.db-delete-form(method='post', action='')
                                button.btn.btn-default(type='button', data-dismiss='modal') 取消
                                button.btn.btn-primary(type='submit') 确定
            .modal.fade#rename-file
                .modal-dialog
                    .modal-content
                        form.db-rename-form(method='post', action='')
                            .modal-header
                                button.close(type='button', data-dismiss='modal')
                                    span(aria-hidden='true') &times;
                                    span.sr-only Close
                                h4.modal-title 重命名文件
                            .modal-body
                                p 请输入新的文件名称
                                input.db-new-name.form-control(type='text',name='name', value='')
                            .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
                                    button.btn.btn-primary(type='submit') 确定
block admin_script
    script(type='text/javascript').
        $(".db-delete-btn").on("click", function (event) {
            event.preventDefault();
            $(".db-delete-form").attr("action", $(this).data("url"));
        });
        $(".db-rename-btn").on("click", function (event) {
            event.preventDefault();
            $(".db-rename-form").attr("action", $(this).data("url"));
            $(".db-new-name").val($(this).parents("tr").find(".db-filename").html()).focus();
        });