extends layout

block extra_css
    link(rel='stylesheet', href='/css/jquery.fileupload.css')
    block admin_css


block content
    section.db-admin
        nav.db-nav
            div.db-nav-wrapper
                div.db-brand-wrapper
                    a.db-brand(href='/') BLOG
                div.db-nav-menu
                    ul.db-menu-wrapper
                        li: a(href='#{adminPath}') 
                            i.glyphicon.glyphicon-home
                        li: a(href='#{adminPath}/post') 
                            i.glyphicon.glyphicon-list-alt
                        li: a(href='#{adminPath}/gallery')
                            i.glyphicon.glyphicon-picture
                        li: a(href='#{adminPath}/files/public')
                            i.glyphicon.glyphicon-file
                        li: a(href='#{adminPath}/upload')
                            i.glyphicon.glyphicon-cloud-upload
                        - if (locals.current_user.role === 'admin')
                            li.db-setting-btn: a(href='#{adminPath}/settings')
                                i.glyphicon.glyphicon-cog
        .db-header-container
            nav.db-header-nav
                .container-fluid
                    ul.db-nav-left
                        li
                            a(href='#{adminPath}/post/new') 
                                span.glyphicon.glyphicon-plus 
                    .db-dashboard-title Dashboard
                    ul.db-nav-right
                        li: a.db-user-header(href='#{adminPath}/u/#{locals.current_user.uid}')
                            i.glyphicon.glyphicon-user
                        li: a(href='#{adminPath}/signout')
                            i.glyphicon.glyphicon-log-out
                            


        block post_content
        block new_post
        block gallery
        block files
        block upload
        block settings
        block user
        block preview
        block album
block extra_script
    script(type='text/javascript', src='/js/icheck.min.js')
    block admin_script
 