extends index_layout
block index_script
    script(type='text/javascript', src='/js/marked.js')
    script(type='text/tempalte' id='template').
        <div class='post-wrapper'>
            <div class='post-title'>
                <a href=''></a>
            </div>
            <div class='post-info'>
                <a class='post-author' href=''><img></img></a>
                <a class='post-category' href=''></a>
                <span></span>
            </div>
            <div class='post-content'>
                <span class='post-excerpt'>
                </span>
                <span>
                    <a href='' class='post-read-more'>Read More</a>
                </span>
            </div>
        </div>
    script.
        $('.load-more a').on('click', function (event) {
            var self = this;
            event.preventDefault();
            if (($('.post-wrapper').length) % 10 !== 0 ) {
                $(self).html('No more post.');
            } else {
                var page = ($('.post-wrapper').length)/10;
                $.ajax({
                    type: 'GET',
                    url: '/loadmore?page=' + page,
                    dataType: 'json',
                    success: function (data) {
                        data.forEach(function (post, index) {
                            var tmpl = $('#template').html();
                            $('.post-wrapper:last').after(
                                $(tmpl)
                                    .find('.post-title a').attr('href', '/blog/' + post._id).html(post.title).end()
                                    .find('.post-author').attr('href', '/u/' + post.author).find('img').attr('src',post.authorAvatar).end().end()
                                    .find('.post-category').attr('href', '/blog?category=' + post.category).html(post.category).end()
                                    .find('.post-info span').html(post.date[0].month + '/' + post.date[0].date).end()
                                    .find('.post-excerpt').html(post.excerpt + '...').end()
                            );
                        });
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }
        });
block inner
    .blog
        h2.blog-name 
            a(href='/') #{blogName}
            .blog-desc #{blogDesc}
    .index-wrapper
        - if (posts.length === 0)
            .no-post The website doesn't have any post yet!
        - each post in posts
            .post-wrapper
                .post-title: a(href='/blog/#{post._id}') #{post.title}
                .post-info 
                    a.post-author(href='/u/#{post.author}'): img(src='#{post.authorAvatar}') 
                    a.post-category(href='/blog?category=#{post.category}') #{post.category}
                    span #{post.date[0].month}/#{post.date[0].date}
                .post-content
                    span.post-excerpt  #{post.excerpt} ... 
                    span: a.post-read-more(href='/blog/#{post._id}') Read More
        .load-more
            a(href='javascript:;')
                i.fa.fa-angle-double-down
                | Load More Post
                i.fa.fa-angle-double-down
