extends layout

block css
    link(rel='stylesheet', href='//google-fonts.damn.so/css?family=Niconne|Open+Sans:300,800,400')
    link(rel='stylesheet', href='#{assets.server}/css/style.css')/
    link(rel='stylesheet', href='#{assets.server}/css/md-icon.min.css')/
    block extra_css
block content
    .panel
        .content
            nav.navbar
                .area
                    block area
                ul
                    li
                        button.side-menu-btn(type='button')
                            i.md-menu
                    li.user-avatar
                        a(href='javascript:;')
                            img(src='#{currentUser.avatar}')
                        .sub-menu
                            .wrapper
                                .user-info
                                    .image
                                        a(href='#{url.admin}#{url.user}/#{currentUser.uid}')
                                            img(src='#{currentUser.avatar}')
                                    .details
                                        p.user-uid #{currentUser.uid}
                                        p.user-email #{currentUser.email}
                                ul
                                    - if (currentUser.role === 'admin')
                                        li.adduser-btn: a.ripple(href='javascript:;') 添加用户
                                    li.signout-btn: a.ripple(href='#{url.admin}#{url.signOut}') 退出登录
            .side-menu
                ul
                    li: a.btn.ripple(href='/')
                        i.md-home
                        span.menu-text 主页
                    li: a.btn.ripple(href='#{url.admin}')
                        i.md-dashboard
                        span.menu-text 控制台
                    li: a.btn.ripple(href='#{url.admin}#{url.post}')
                        i.md-description
                        span.menu-text 文章
                    li: a.btn.ripple(href='#{url.admin}#{url.gallery}')
                        i.md-photo-library
                        span.menu-text 相册
                    li: a.btn.ripple(href='#{url.admin}#{url.file}')
                        i.md-attach-file
                        span.menu-text 附件
                    li: a.btn.ripple(href='#{url.admin}#{url.setting}')
                        i.md-settings
                        span.menu-text 设置
            .main
                block main
        .global-btn
            button.btn.btn-round.btn-red.btn-raised.ripple(type='button')
                i.md-add
