extends layout

block title
    title(ng-bind='title')

block area
    span(ng-bind='title')


block css
    //- link(rel='stylesheet', href='//google-fonts.damn.so/css?family=Niconne|Open+Sans:300,800,400')/
    link(rel='stylesheet', href='#{assets.server}/css/style.css')/
    link(rel='stylesheet', href='#{assets.server}/css/md-icon.min.css')/
    link(rel='stylesheet', href='#{assets.server}/css/markdown-html.css')/
    link(rel='stylesheet', href='#{assets.server}/css/rainbow.css')/
    link(rel='stylesheet', href='#{assets.server}/css/blueimp-gallery.min.css')/

block content
    .loading-wrapper
        .loading-inner
            span.loading
            div Loading
    .panel
        .content
            nav.navbar(ng-hide="notAllowed")
                .area
                    block area
                ul
                    li
                        button.side-menu-btn(type='button', ng-click='toggleSideMenu()', ng-show='isMobile')
                            i.md-more-horiz
                    li.user-avatar
                        a(href='javascript:;', ng-click='toggleUserProfile()')
                            img(ng-src='{{currentUser.avatar}}')
                        .sub-menu(ng-show='isUserProfileShown')
                            .wrapper
                                .user-info
                                    .image
                                        a(ng-href='')
                                            img(ng-src='{{currentUser.avatar}}')
                                    .details
                                        p.user-uid {{currentUser.uid}}
                                        p.user-email {{currentUser.email}}
                                ul.clear
                                    li.adduser-btn(ng-show="currentUser.role === 'admin'"): a(href='javascript:;', ripple) 添加用户
                                    li.signout-btn: a(href='#{url.admin}#{url.signOut}', ripple) 退出登录
            .side-menu(ng-class='{show:isSideMenuShown}', ng-hide="notAllowed")
                ul
                    li: a.btn(href='/', title='主页', ripple)
                        i.md-home
                        span.menu-text 主页
                    li: a.btn(href='#/', title='控制台', ripple)
                        i.md-dashboard
                        span.menu-text 控制台
                    li: a.btn(href='##{url.post}', title='文章', ripple)
                        i.md-description
                        span.menu-text 文章
                    li: a.btn(href='##{url.gallery}', title='相册', ripple)
                        i.md-photo-library
                        span.menu-text 相册
                    li: a.btn(href='##{url.file}', title='附件', ripple)
                        i.md-attach-file
                        span.menu-text 附件
                    li: a.btn(href='##{url.setting}', title='设置', ripple)
                        i.md-settings
                        span.menu-text 设置
            .main(ng-view, ng-class="{fullscreen: notAllowed}")
    msg-box(ng-show='msg.length', callback='hideMsg()') {{msg[0].msg}}
    pgress(ng-show="loadingItem.length") 正在加载中 ...
block script
    include ./build/dashboard_scripts.jade