extends layout

block title
    title(ng-bind='title')

block area
    span(ng-bind='title')


block css
    link(rel='stylesheet', href='//google-fonts.damn.so/css?family=Niconne|Open+Sans:300,800,400')/
    link(rel='stylesheet', href='#{assets.server}/css/style.css')/
    link(rel='stylesheet', href='#{assets.server}/css/md-icon.min.css')/
    link(rel='stylesheet', href='#{assets.server}/css/markdown-html.css')/
    link(rel='stylesheet', href='#{assets.server}/css/rainbow.css')/
    link(rel='stylesheet', href='#{assets.server}/css/blueimp-gallery.min.css')

block content
    .panel
        .content
            nav.navbar
                .area
                    block area
                ul
                    li
                        button.side-menu-btn(type='button', ng-click='toggleSideMenu()', ng-show='isMobile')
                            i.md-more-horiz
                    li.user-avatar
                        a(href='javascript:;', ng-click='toggleUserProfile()')
                            img(src='#{url.api}#{url.avatar}/#{currentUser.uid}')
                        .sub-menu(ng-show='isUserProfileShown')
                            .wrapper
                                .user-info
                                    .image
                                        a(href='#{url.admin}#{url.user}/#{currentUser.uid}')
                                            img(src='#{url.api}#{url.avatar}/#{currentUser.uid}')
                                    .details
                                        p.user-uid #{currentUser.uid}
                                        p.user-email #{currentUser.email}
                                ul
                                    - if (currentUser.role === 'admin')
                                        li.adduser-btn: a(href='javascript:;', ripple) 添加用户
                                    li.signout-btn: a(href='#{url.admin}#{url.signOut}', ripple) 退出登录
            .side-menu(ng-class='{show:isSideMenuShown}')
                ul
                    li: a.btn(href='/', title='主页', ripple)
                        i.md-home
                        span.menu-text 主页
                    li: a.btn(href='#/', title='控制台', ripple)
                        i.md-dashboard
                        span.menu-text 控制台
                    li: a.btn(href='##{url.post}', title='文章', ripple)
                        i.md-description
                        span.menu-text 文章
                    li: a.btn(href='##{url.gallery}', title='相册', ripple)
                        i.md-photo-library
                        span.menu-text 相册
                    li: a.btn(href='##{url.file}', title='附件', ripple)
                        i.md-attach-file
                        span.menu-text 附件
                    li: a.btn(href='##{url.setting}', title='设置', ripple)
                        i.md-settings
                        span.menu-text 设置
            .main(ng-view)
block script
    include ./build/dashboard_scripts.jade