extends admin_layout

block title
    title 新文章
block area
    span 新文章

block extra_css
    link(rel='stylesheet', href='#{assets.server}/css/codemirror.css')/
    link(rel='stylesheet', href='#{assets.server}/css/jquery.light-selector.css')/
    link(rel='stylesheet', href='#{assets.server}/css/markdown-html.css')/

block main
    .post-area
        .post-head
            input(type='text', name='title', placeholder='文章标题')/
            .categories-selector
                select.categories
                    - each cate in categories
                        option(value='#{cate.name}') #{cate.name}
        .post-editor
            .wrapper
                .editor-tools
                    span Markdown
                    ul
                        li: button.btn.ripple.ripple-black.help-btn.md-help(type='button')
                        li: button.btn.ripple.ripple-black.draft-btn.md-drafts(type='button')
                        li: button.btn.ripple.ripple-black.image-btn.md-insert-photo(type='button')
                        li: button.btn.ripple.ripple-black.preview-btn.md-pageview(type='button')
                        li: button.btn.ripple.ripple-black.fullscreen-btn.md-fullscreen(type='button')
                textarea#editor
                .preview.markdown
                .editor-foot
                    .tags
                        input(type='text', placeholder='文章标签，多个标签用 , 号分开。')
                    button.btn.btn-blue.ripple(type='button') 发表

block script
    script(type='text/javascript', src='#{assets.server}/js/build/post.js')