.album-detail
    .header
        button.btn.right.album-info-btn(ng-show='isMobile', ng-click='isSideShown=!isSideShown')
            i.md-info.left-icon
            | 相册信息
        button.btn.menu-btn(ng-click='showMenu=!showMenu', ng-show='isMobile', ng-class='{"btn-blue": showMenu}')
            i.md-menu.left-icon
            | 菜单
        ul.header-menu(ng-hide='isMobile && !showMenu')
            li: button.btn(ripple='black', ng-click='showUpload=true')
                i.md-file-upload.left-icon
                | 上传相片
            li: button.btn(ripple='black', ng-click='inSelectMode=true', ng-hide='inSelectMode')
                i.md-check.left-icon
                | 选择图片
            li: button.btn(ripple='black', ng-show='inSelectMode', ng-click='selectAll()')
                i.md-my-library-add.left-icon
                | 选择全部
            li: button.btn(ripple='black', ng-show='inSelectMode', ng-click='reverseSelect()')
                i.md-select-all.left-icon
                | 反向选择
            li: button.btn(ripple='black', ng-show='inSelectMode', ng-click='inSelectMode=false')
                i.md-filter-none.left-icon
                | 取消选择
            li: button.btn(ripple='black', ng-show='inSelectMode', ng-click='deleteImg()')
                i.md-close.left-icon
                | 删除图片

    .image-list
        ul(ng-class='{"in-select": inSelectMode}')
            li.image(ng-repeat='image in album.images', ng-class='{selected: inSelectMode && image.isSelected}')
                button.btn.set-cover-btn(ng-click='showSetCover(image)') 设为封面
                a(
                    style='background-image: url("{{image.thumb}}")',
                    href='{{image.path}}',
                    ng-click='lightbox(image, $index, $event)')
    .side-content(ng-class='{show: isSideShown}')
        .album-cover(style='background-image: url("{{album.cover}}")')
        .section
            p.section-name
                i.md-photo-album.left-icon
                | 相册名称
            h2.album-name {{album.name}}
        .section
            p.section-name
                i.md-dehaze.left-icon
                | 相册描述
            p.album-desc {{album.desc}}
        .album-action
            button.btn.btn-raised.btn-blue(ripple, ng-click='showUpload=true')
                i.md-file-upload.left-icon
                | 上传相片
            button.btn.btn-raised.btn-green(ripple, ng-click='showEditAlbum=true')
                i.md-edit.left-icon
                | 编辑相册
            button.btn.btn-raised.btn-red(ripple, ng-click='confirmDelete=true')
                i.md-clear.left-icon
                | 删除相册
dialog-box(ng-show='showUpload', cancel='showUpload=false', confirm='showUpload=false', title='上传图片')
    .insert-image
        #upload
            p.description 从本地上传图片：
            .upload-btn
                p: button.btn.md-photo
                p: button.btn.btn-blue 选择图片
                input#file-input(type='file', nv-file-select, uploader='uploader', multiple)/
            .selected-item(ng-show='isAdded')
                .main-menu
                    button.btn.btn-raised.btn-blue(
                        ng-disabled='uploader.isUploading',
                        ng-class='{"btn-disabled": uploader.isUploading}',
                        ng-click='uploader.uploadAll()')
                        i.md-cloud-upload.left-icon
                        | 上传全部
                    button.btn.btn-raised.btn-yellow(
                        ng-click='uploader.cancelAll()',
                        ng-class='{"btn-disabled": !uploader.isUploading}'
                        ng-disabled='!uploader.isUploading')
                        i.md-cancel.left-icon
                        | 取消所有
                    button.btn.btn-raised.btn-red(ng-click='reSelect()')
                        i.md-delete.left-icon
                        | 移除全部
                    span(ng-show='isFinished') 全部上传成功！
                ul
                    li
                        span.img-name 文件名
                        span.img-size 文件大小
                        span.img-progress 上传进度
                        span.img-action 上传操作
                    li.upload-item(ng-repeat='item in uploader.queue')
                        span.img-name
                            span {{item.file.name | ellipsis:30}}
                        span.img-size
                            span {{item.file.size/1024/1024 | number:2}} Mb
                        span.img-progress
                            span(ng-show='item.isSuccess') 上传成功
                            span {{item.progress}} %
                        span.img-action
                            a(
                                ng-click='item.upload()',
                                href='javascript:;',
                                ng-disabled='item.isReady || item.isUploading || item.isSuccess',
                                ng-class='{"btn-disabled": item.isReady || item.isUploading || item.isSuccess}')
                                | 开始上传
                            a(
                                href='javascript:;',
                                ng-click='item.cancel()',
                                ng-disabled='!item.isUploading',
                                ng-class='{"btn-disabled": !item.isUploading}')
                                | 取消上传
                            a(
                                href='javascript:;',
                                ng-click='item.remove()',
                                ng-disabled='item.isUploading',
                                ng-class='{"btn-disabled": item.isUploading}')
                                | 移除文件
                        span.album-upload(ng-hide='isMobile')
                            span.prgs-outer
                                span.prgs-inner(ng-style='{width: item.progress + "%"}')
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
    .slides
    h3.title
    a.prev
    a.next
    a.close
    a.play-pause
    ol.indicator
msg-box(ng-show='deleteFailed.length', type='error') {{deleteFailed.length}} 个文件删除失败！
dialog-box(ng-show='settingCover', cancel='settingCover=!settingCover', confirm='setCover()', title='设置相册封面')
    p.m-b-2 是否将以下图片设为本相册的封面？
    img.full-width(ng-src='{{cover}}')
msg-box(ng-show='setCoverStatus===0', callback='setCoverStatus=undefined') {{message}}
msg-box(ng-show='setCoverStatus===-1', callback='setCoverStatus=undefined') {{message}}
dialog-box(ng-show='confirmDelete', title='确认删除相册', cancel='confirmDelete=false', confirm='deleteAlbum()')
    | 该操作将删除该相册。一旦删除相册，相册内的相片将会一同被删除。请谨慎操作！
msg-box(ng-show='deleteStatus===0', callback='redirect()') {{message}}
msg-box(ng-show='deleteStatus===-1', callback='deleteStatus=undefined', type='error') {{message}}
dialog-box(ng-show='showEditAlbum', title='修改相册信息', cancel='showEditAlbum=false', confirm='editAlbum()', outer='album')
    md-input(name='name', type='text', title='Name', ng-model='outer.album.name', desc='相册的名称', value='outer.album.name')
    .m-b-2
        p.m-b-1 相册描述：
        textarea.full-width.album-desc-input(name='desc', ng-model='outer.album.desc')
    .m-b-2
        label(for='private') 私密相册
        input(type='checkbox', ng-model='outer.album.private', id='private')
msg-box(ng-show='editAlbumStatus===0', callback='editAlbumStatus=undefined') {{message}}
msg-box(ng-show='editAlbumStatus===-1', callback='editAlbumStatus=undefined') {{message}}