.file-section
    .header
        button.btn.menu-btn(ng-click='showMenu=!showMenu', ng-show='isMobile')
            i.md-menu
        .path-bar
            .wrapper
                span.path-section
                    a.path-name(href='#/files') root
                span.path-section(ng-repeat='fragment in nav() track by $index')
                    span.path-delimiter /
                    a.path-name(
                        href='#/files?path=/{{nav().slice(0, $index+1).join("/")}}/',
                        ng-class='{current: $index === nav().length-1}') {{fragment}}
        ul.action(ng-hide='isMobile && !showMenu')
            li(ng-hide='showDelete'): button.btn(ng-click='currentPath && (showUpload=true)', ng-class='{"btn-disabled": !currentPath}')
                i.md-cloud-upload.left-icon
                |上传文件
            li(ng-hide='showDelete'): button.btn(ng-click='currentPath && (showDelete=true)', ng-class='{"btn-disabled": !currentPath}')
                i.md-delete.left-icon
                | 批量删除
            li(ng-hide='showDelete'): button.btn(ng-click='currentPath && (showMove=true)', ng-class='{"btn-disabled": !currentPath}')
                i.md-content-cut.left-icon
                | 批量移动
            li(ng-hide='showDelete'): button.btn(ng-click='currentPath && (new.show=true)&&(new.type="file")', ng-class='{"btn-disabled": !currentPath}')
                i.md-insert-drive-file.left-icon
                | 新建文件
            li(ng-hide='showDelete'): button.btn(ng-click='currentPath && (new.show=true)&&(new.type="folder")', ng-class='{"btn-disabled": !currentPath}')
                i.md-folder.left-icon
                | 新文件夹
            li(ng-show='showDelete'): button.btn(ng-click='currentPath && deleteFile()', ng-class='{"btn-disabled": !currentPath}')
                i.md-delete.left-icon
                | 删除选中
            li(ng-show='showDelete'): button.btn(ng-click='currentPath && selectAll()', ng-class='{"btn-disabled": !currentPath}')
                i.md-my-library-add.left-icon
                | 选择全部
            li(ng-show='showDelete'): button.btn(ng-click='currentPath && reverseSelect()', ng-class='{"btn-disabled": !currentPath}')
                i.md-select-all.left-icon
                | 反向选择
            li(ng-show='showDelete'): button.btn(ng-click='currentPath && (showDelete=false)', ng-class='{"btn-disabled": !currentPath}')
                i.md-cancel.left-icon
                | 取消删除
    .file-list
        .wrapper
            .list-header
                span.item-name 文件名称
                span.item-date 创建时间
                span.item-modified 修改时间
                span.item-size 文件大小
                span.item-action 操作
            .sub-wrapper
                ul.files(ng-class='{"show-delete": showDelete}')
                    li.file(ng-repeat='file in lists')
                        input.select-input(type='checkbox', ng-model='file.checked', ng-show='showDelete')
                        a.item-name(
                            ng-class='{folder: file.type===0}',
                            ng-click='showPreview($event, file)'
                            href='{{file.href}}',)
                            i.left-icon(ng-class='{"md-folder": file.type===0, "md-insert-drive-file": file.type===1}')
                            | {{file.name}}
                        span.item-date {{file.createTime}}
                        span.item-modified {{file.lastModifiedTime}}
                        span.item-size {{file.size ? file.size / (1024*1024) : 0 | number:2}} MB
                        span.item-action
                            a.item-action-btn(ng-show='isMobile', href='javascript:;', ng-click='file.showMenu=!file.showMenu')
                                i.md-settings
                                | 操作
                            span.action-menu(ng-hide='isMobile && !file.showMenu')
                                a.btn(ng-href='{{downloadFile(file)}}', ng-show='file.type===1', target='_blank')
                                    i.md-file-download.left-icon
                                    | 下载
                                a.btn(ng-click='rename.show=true', href='javascript:;')
                                    i.md-edit.left-icon
                                    | 重命名
file-uploader(url='uploadUrl', show='showUpload', complete='completeOne(response)')
dialog-box(ng-show='new.show', title='{{new.type==="file" ? "新建文件" : "新建文件夹"}}', confirm='new.create()', cancel='new.show=false')
    p.m-b-2 请输入要创建的{{new.type==="file" ? "文件" : "文件夹"}}的名称：
    md-input(title='{{new.type==="file" ? "文件名称" : "文件夹名称"}}', ng-model='new.name')
dialog-box(ng-show='rename.show', title='重命名文件/文件夹', confirm='rename()', cancel='rename.show=false')
    p.m-b-2 为以下文件或文件夹重命名：
    p {{rename.target}}
    p.m-b-2 请输入新的文件或文件夹名字：
    md-input(title='新的名字', ng-model='rename.name', desc='新的文件或文件夹的名字')
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
    .slides
    h3.title
    a.prev
    a.next
    a.close
    a.play-pause
    ol.indicator