form.post-area(name='newpost')
    .post-head
        input(type='text', name='title', placeholder='文章标题', value='{{title}}', ng-model='post.title', ng-model-options='{updateOn: "blur"}')/
        .categories-selector
            selector(ng-model='post.category')
                selector-list(ng-repeat='cate in categories', value='{{cate._id}}', name='{{cate.name}}')
    .post-editor(ng-class='{fullscreen:fullscreen}')
        .wrapper
            .editor-tools
                span
                    | Markdown
                    span.post-status
                ul
                    li: button.btn.help-btn.md-help(type='button', ng-click='showHelp=true', ripple='black')
                    li: button.btn.draft-btn.md-drafts(type='button', ng-click='saveDraft()', ripple='black')
                    li: button.btn.image-btn.md-insert-photo(type='button', ng-click='showInsertImg=true', ripple='black')
                    li: button.btn.preview-btn.md-pageview(type='button', ng-click='renderMobilePreview()', ng-class='{active: mobilePreview}', ripple='black')
                    li: button.btn.post-setting-btn.md-settings(type='button', ng-click='postSetting=true', ripple='black')
                    li: button.btn.fullscreen-btn(type='button', ng-click='fullscreen=!fullscreen', ng-class='{"md-fullscreen":!fullscreen,"md-fullscreen-exit":fullscreen}', ripple='black')
            .editor
                textarea(ng-model='post.content') {{post.content}}
            .preview.markdown(ng-bind-html='markdownPreview', ng-class='{"mobile-preview": mobilePreview}')
            .editor-foot
                .tags
                    input(type='text', placeholder='文章标签，多个标签用 , 号分开。', value='{{tags}}', ng-model='post.tags')
                button.btn.btn-blue.ripple.publish(type='button', ng-click='publishPost()') 发表
            msg-box(ng-show='draftStatus===0', callback='draftStatus=undefined') {{message}}
            msg-box(type='error', ng-show='draftStatus===-1', callback='draftStatus=undefined') {{message}}
            msg-box(ng-show='publishStatus===0', callback='publishStatus=undefined') {{message}}
            msg-box(type='error', ng-show='publishStatus===-1', callback='publishStatus=undefined') {{message}}

dialog-box(ng-show='showInsertImg', cancel='showInsertImg=false', confirm='insert()', title='插入图片')
    .insert-image(ng-controller='insertImgController')
        ul.choose-type
            li: button.btn.type(data-target='#url', ng-click='switchTab("url")', ng-class='{active:isUrlTabShown}') 链接
            li: button.btn.type(data-target='#upload', ng-click='switchTab("upload")', ng-class='{active: isUploadTabShown}') 上传
        .container
            .content#url(ng-show='isUrlTabShown')
                p.description 请输入图片的链接地址：
                input.image-url(type='text', ng-model='imgUrl')/
            .content#upload(ng-show='isUploadTabShown')
                p.description 从本地上传图片：
                .upload-btn(ng-hide='isAdded || isUploading || isFinished')
                    p: button.btn.md-photo
                    p: button.btn.btn-blue 选择图片
                    input#file-input(type='file', nv-file-select, uploader='uploader')/
                ul.selected-item(ng-show='isAdded')
                    li(ng-repeat='item in uploader.queue')
                        .item-info
                            .item-info-text
                                div
                                    span 文件名：
                                    | {{item.file.name}}
                                div
                                    span 文件大小：
                                    | {{item.file.size/1024/1024 | number:2}} Mb
                                div
                                    span 文件上传进度：
                                    | {{item.progress}} %
                            .item-preview
                                .thumb(img-thumb='{file: item._file, height: 300}', ng-hide='isFinished')
                                img(ng-src='{{imgUrl}}', ng-show='isFinished')
                        .upload-progress
                            .progress-bar-outer
                                .progress-bar-inner(ng-style='{width: item.progress + "%"}')
                        .item-action
                            button.btn.btn-yellow.btn-raised(
                                ng-click='warning()',
                                ripple,
                                ng-disabled='!item.isUploading',
                                ng-class='{"btn-disabled": !item.isUploading}') 取消上传
                            button.btn.btn-blue.btn-raised(
                                ng-click='item.upload()',
                                ripple,
                                ng-disabled='item.isReady || item.isUploading || item.isSuccess',
                                ng-class='{"btn-disabled": item.isReady || item.isUploading || item.isSuccess}'
                                ) 开始上传
                            button.btn.btn-green.btn-raised(
                                ng-click='reSelect(item)',
                                ripple,
                                ng-disabled='item.isUploading',
                                ng-class='{"btn-disabled": item.isUploading}') 重新选择
                        msg-box(callback='cancelUpload(item)', ng-show='cancelWarning') 确认要取消正在上传的图片？
                        msg-box(type='error', ng-show='isError', callback='isError=false') {{errorItem.item.name}} 上传失败！失败代码：{{errorItem.code}}
dialog-box(ng-show='showHelp', cancel='showHelp=false', confirm='showHelp=false', title='帮助')
    p 编辑器快捷键
    table.help-content
        thead
            tr
                th 快捷键
                th 描述
        tbody
            tr
                td F11
                td 进入全屏模式
            tr
                td F1
                td 显示帮助
            tr
                td Ctrl + Alt + I
                td 插入图片
            tr
                td Ctrl + B
                td 加粗
            tr
                td Ctrl + I
                td 斜体
            tr
                td Ctrl + Q
                td 引用
            tr
                td Ctrl + L
                td 插入链接
            tr
                td Ctrl + K
                td 插入行内代码
            tr
                td Ctrl + Alt + K
                td 插入代码块
            tr
                td Ctrl + U
                td 删除线
            tr
                td Ctrl + S
                td 保存草稿
            tr
                td Ctrl + Alt + Enter
                td 发表文章
dialog-box(title='文章设置', ng-show='postSetting', cancel='postSetting=false', confirm='postSetting=false', outer='test')
    md-input(name='slug', type='text', title='Slug', ng-model='slug', desc='文章的唯一URL', value='post.slug')
    md-input(name='createTime', type='text', title='创建时间', ng-model='createTime', desc='文章的创建时间。', value='post.createDate')
    button.delete-post.btn.btn-danger.btn-red(ng-click='showDeletePost()') 删除文章
dialog-box(title='删除文章', ng-show='showDelete', cancel='showDelete=false', confirm='deletePost()')
    | 即将删除该文章。请注意，文章一旦删除后便无法恢复！请谨慎操作！
    msg-box(type='error', ng-show='deleteStatus===-1', callback='deleteStatus=undefined') {{message}}
    msg-box(ng-show='deleteStatus===0', callback='returnToPostList()') {{message}}
msg-box(ng-show='fetchPostError', callback='redirectToList()', type='error') 找不到该文章！