extends admin
block gallery
    .db-gallery
        .db-gallery-list
            ul
                li.db-new-gallery
                    form.db-new-form(method='post', action='#{url.admin}#{url.adminNewGallery}')
                        input.form-control.album-name(type='text', name='name', placeholder='Album name')
                        textarea.form-control.album-desc(name='desc', placeholder='Album desc')
                        div.album-private
                            span.checkbox
                                i.fa.fa-check-square-o
                                input(type='checkbox', name='private', checked='checked')
                            label(for='flat-checkbox-1')
                                | 私密相册
                        button.album-btn(type='submit') submit
                - albums.forEach(function (item, index) {
                    li.single-album(data-id='#{item.id}')
                        a.delete-album(href='javascript:;', data-toggle='modal', data-target='#delete')
                            i.fa.fa-times
                        a(href='#{url.admin}#{url.adminGallery}/#{item.name}') 
                            - if (item.cover)
                                span.db-album-cover(style='background-image: url(#{item.cover})')
                            - else
                                span.db-album-cover
                            span.db-album-name
                                - if (item.private)
                                    i.glyphicon.glyphicon-lock
                                | #{item.name} (#{item.count})
                            span.db-album-desc #{item.desc}
                - })

        .modal#delete
            .modal-wrapper
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        i.fa.fa-times
                    h4.modal-title 删除相册
                .modal-body
                    div 确定删除以下相册？删除该相册将会删除该相册目录下的所有相片。请谨慎操作！
                    span.album-holder
                .modal-footer
                    button.btn(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary.confirm-delete(type='button') 确定


block admin_script
    script.
        $('.album-btn').on('click', function (event) {
            event.preventDefault();

            progress.show('正在创建相册...', function () {
                var name = $('.album-name').val(),
                    desc = $('.album-desc').val(),
                    isPrivate = $('.album-private input').prop('checked');
                $.ajax({
                    type: 'POST',
                    url: '#{url.admin}#{url.adminNewGallery}',
                    data: {
                        name: name,
                        desc: desc,
                        private: isPrivate
                    },
                    success: function (result) {
                        progress.hide(function () {
                            if (result.status === 1) {
                                msg('success', '创建相册成功！', function () {
                                    var wrapper = $('<li>').addClass('single-album'),
                                        link = $('<a>').attr('href', '#{url.admin}#{url.adminGallery}/' + name),
                                        cover = $('<span>').addClass('db-album-cover').css({
                                                'background-image': 'url(/img/default_album.png)'
                                            }),
                                        n = $('<span>').addClass('db-album-name').html(name + ' (0)'),
                                        d = $('<span>').addClass('db-album-desc').html(desc);

                                    wrapper.append(link.append(cover).append(n).append(d));
                                    $('.db-gallery-list ul').append(wrapper);

                                });
                            } else {
                                msg('error', '创建相册失败：' + result.error);
                            }
                        });
                    },
                    error: function (err) {
                        progress.hide(function () {
                            msg('error', err);
                        });
                    }
                });
            });
        });

        $('.delete-album').on('click', function () {
            var albumName = $(this).parents('.single-album').find('.db-album-name').text().split(' (')[0],
                id = $(this).parents('.single-album').data('id');
            $('.album-holder').html(albumName).data('id', id);
        });

        $('.confirm-delete').on('click', function () {
            var id = $('.album-holder').data('id');

            $(this).prev().trigger('click');
            progress.show('删除相册中...', function () {
                $.ajax({
                    type: 'DELETE',
                    url: '#{url.admin}#{url.adminGallery}',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function (result) {
                        progress.hide(function () {
                            if (result.status === 1) {
                                msg('success', '删除成功！');
                            } else {
                                msg('error', '删除失败：' + result.error);
                            }
                        });
                    },
                    error: function (err) {
                        progress.hide(function () {
                            msg('error', '删除失败！' + err);
                        });
                    }
                });
            });
        });