extends admin
block files
    .db-file
        .db-file-wrapper
            a.header-btn(href='javascript:;'): i.fa.fa-angle-double-down
            .file-nav
                ol
                    - var i = '';
                    - baseLink.substring(baseLink.indexOf('/')+1).split('/').forEach(function (item, index) {
                        - i = i + '/' + item;
                        li
                            a(href='#{url.admin}#{i}')  #{item} 
                            span /
                    - })
                .file-tools
                    ul
                        li.btn.select-all
                            i.fa.fa-check-square
                            | Select all
                        li.btn.select-none
                            i.fa.fa-check-square-o
                            | Select none
                        li.btn.new-file(data-toggle='modal', data-target='#new')
                            i.fa.fa-file-o
                            | New file/folder
                        li.btn.rename(data-toggle='modal', data-target='#rename-file')
                            i.fa.fa-edit
                            | Rename
                        li.btn.move(data-toggle='modal', data-target='#move')
                            i.fa.fa-scissors
                            | Move
                        li.btn.copy(data-toggle='modal', data-target='#copy')
                            i.fa.fa-copy
                            | Copy
                        li.btn.upload(data-toggle='modal', data-target='#upload-file')
                            i.fa.fa-cloud-upload
                            | Upload files
                        li.btn.delete(data-toggle='modal', data-target='#delete-file')
                            i.fa.fa-trash-o
                            | Delete
            .file-list
                table.file-list-wrapper
                    thead
                        tr
                            th Name
                            th Created
                            th Last Modified
                            th Size
                            th Download
                    tbody
                        - var p = baseLink.split('/files')[1];
                        - each item, index in folders
                            tr
                                td
                                    span.checkbox
                                        i.fa.fa-square-o
                                        input(type='checkbox')
                                    i.fa.fa-folder-open
                                    a.db-filename(href='#{url.admin}#{baseLink}/#{item.name}') #{item.name}
                                td #{item.createTime.getFullYear()}/#{item.createTime.getMonth()+1}/#{item.createTime.getDate()}， #{item.createTime.getHours()} : #{item.createTime.getMinutes()}
                                td #{item.lastModifiedTime.getFullYear()}/#{item.lastModifiedTime.getMonth()+1}/#{item.lastModifiedTime.getDate()}/， #{item.lastModifiedTime.getHours()} : #{item.lastModifiedTime.getMinutes()}
                                td 0
                                td 

                        - each item,index in files
                            tr
                                td
                                    span.checkbox
                                        i.fa.fa-square-o
                                        input(type='checkbox')
                                    i.fa.fa-file
                                    - var type = (item.name.substring(item.name.lastIndexOf('.')+1) === 'zip') ? 'zip':'';
                                    - if (type === 'zip') {
                                        a.db-filename(href='#{url.admin}#{url.adminFilePreview}#{p}/#{item.name}') #{item.name}
                                    - } else {
                                        a.db-filename(href='#{url.admin}#{baseLink}/#{item.name}') #{item.name}
                                    - }
                                td #{item.createTime.getFullYear()}/#{item.createTime.getMonth()+1}/#{item.createTime.getDate()}/， #{item.createTime.getHours()} : #{item.createTime.getMinutes()}
                                td #{item.lastModifiedTime.getFullYear()}/#{item.lastModifiedTime.getMonth()+1}/#{item.lastModifiedTime.getDate()}/， #{item.lastModifiedTime.getHours()} : #{item.lastModifiedTime.getMinutes()}
                                td #{Math.ceil(item.size/1024)} kb 
                                td
                                    a.btn.btn-primary.download-btn(href='#{url.admin}#{baseLink}/#{item.name}?download=direct') Download
            .modal#delete-file
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 删除文件
                    .modal-body
                        p 即将删除以下文件/文件夹，删除前请做好备份！
                        ul.selected-item
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
            .modal#rename-file
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 重命名文件
                    .modal-body
                        p 请输入新的文件名称
                        ul
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
            .modal#upload-file
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 上传文件
                    .modal-body
                        #uploader
                            input.file(type='file')
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 上传
            .modal#new
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 创建新文件/文件夹
                    .modal-body
                        label.radio-selector File
                            input(type='radio', name='type', value='file')
                        label.radio-selector Folder
                            input(type='radio', name='type', value='folder')
                        input(type='text')
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
            .modal#copy
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 复制文件/文件夹
                    .modal-body
                        h3.move-title 请选择目的路径：
                        ul.folder-list
                            li
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox', name='select')
                                a.file-item(href='public') 
                                    i.fa.fa-folder
                                    span.name Public
                            li
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox', name='select')
                                a.file-item(href='private') 
                                    i.fa.fa-folder
                                    span.name Private
                        h3.move-title 已选择的文件、文件夹：
                        ul.selected-item
                        h3.move-title 已选择的目的路径：
                        input.target-dir(type='text', value='/', disabled='disabled')
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
            .modal#move
                .modal-wrapper
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            i.fa.fa-times
                        h4.modal-title 移动文件/文件夹
                    .modal-body
                        h3.move-title 请选择目的路径：
                        ul.folder-list
                            li
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox', name='select')
                                a.file-item(href='public') 
                                    i.fa.fa-folder
                                    span.name Public
                            li
                                span.checkbox
                                    i.fa.fa-square-o
                                    input(type='checkbox', name='select')
                                a.file-item(href='private') 
                                    i.fa.fa-folder
                                    span.name Private
                        h3.move-title 已选择的文件、文件夹：
                        ul.selected-item
                        h3.move-title 已选择的目的路径：
                        input.target-dir(type='text', value='/', disabled='disabled')
                    .modal-footer
                        button.btn(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='submit') 确定
block admin_script
    script(type='text/javascript', src='/js/jquery.ui.widget.js')
    script(type='text/javascript', src='/js/jquery.fileupload.js')
    script(type='text/javascript', src='/js/jquery.iframe-transport.js')
    - var link = baseLink.split('/').slice(2).join('/')
    script(type='text/javascript').
        $('.header-btn').on('click', function () {
            $('.file-nav').toggle();
        });

        $('.folder-list').on('click', '.checkbox', function () {
            var targetDir = $(this).next().attr('href');
            $('.folder-list .checkbox').find('input[type="checkbox"]').prop('checked', false);
            $('.folder-list .checkbox').find('i').removeClass('fa-check-square-o').addClass('fa-square-o');
            $(this).parents('.modal').find('.target-dir').val(targetDir);
        });

        $('.modal').on('click', '.file-item', function (event) {
            event.preventDefault();
            var self = this,
                dir = $(self).attr('href');

            $(self).find('.fa-folder').removeClass('fa-folder').addClass('fa-folder-open');
            if ($(self).parent().hasClass('opened')) {
                $(self).parent().removeClass('opened').find('ul').remove();
                $(self).find('.fa-folder-open').removeClass('fa-folder-open').addClass('fa-folder');
            } else {
                $(self).parent().append($('<i>').addClass('fa fa-spin fa-spinner'));
                $.ajax({
                    type: 'POST',
                    data: {
                        dir: dir
                    },
                    dataType: 'json',
                    url: '#{url.admin}#{url.adminFileList}',
                    success: function (result) {
                        $(self).parent().find('.fa-spin').remove()
                        if (result.status === 1) {
                            var $ul = $('<ul>');
                            result.folders.forEach(function (folder) {
                                var $li = $('<li>'),
                                    $a = $('<a>').attr('href', dir + '/' + folder.name).addClass('file-item'),
                                    $span = $('<span>').html(folder.name),
                                    $checkbox = $('<span>').addClass('checkbox')
                                                    .append($('<i>').addClass('fa fa-square-o'))
                                                    .append($('<input type="checkbox" name="select">')),
                                    $i = $('<i>').addClass('fa fa-folder');
                                $ul.append($li.append($checkbox).append($a.append($i).append($span)));
                            });

                            result.files.forEach(function (file) {
                                var $li = $('<li>'),
                                    $span = $('<span>').html(file.name),
                                    $i = $('<i>').addClass('fa fa-file-o');
                                $ul.append($li.append($span.prepend($i)));
                            });
                            $(self).parent().addClass('opened').append($ul);
                        } else {
                            msg('error', 'can not list the folder:' + result.error);
                        }
                    },
                    error: function (err) {
                        $(self).parent().find('.fa-spin').remove()
                        msg('error', 'can not list the folder:' + err);
                    }
                });
            }
        });

        $('.move, .copy, .delete').on('click', function () {
            var target = $('tbody input[type="checkbox"]:checked').parents('td').clone();
            target.find('.checkbox').remove();
            $('.selected-item').find('li').remove();
            target.each(function (index, item) {
                var $li = $('<li>');
                $li.append($(item).find('i')).append($(item).find('a'));
                $('.selected-item').append($li);
            });
        });

        $('#move .btn-primary').on('click', function () {
            var targetDir = $('#move .target-dir').val(),
                item = [],
                self = this;
            $('#move .selected-item li a').each(function (index, a) {
                item.push($(a).attr('href').split('#{url.admin}#{url.adminFile}/')[1]);
            });

            if (! item.length) {
                msg('error', '请选择需要移动的文件或文件夹！');
                return false;
            }

            if (targetDir === '/') {
                msg('error', '请选择目的路径！');
            }

            progress.show('正在移动...', function () {
                $.ajax({
                    type: 'POST',
                    url: '#{url.admin}#{url.adminFileMove}',
                    data: {
                        files: item,
                        target: targetDir
                    },
                    dataType: 'json',
                    success: function (result) {
                        $(self).prev().trigger('click');
                        progress.hide(function () {
                           if (result.status === 1) {
                                msg('success', '移动成功！');
                            } else if (result.status === -1) {
                                var failedFile = '';
                                result.files.forEach(function (item, index) {
                                    failedFile = failedFile + item.name + ', ';
                                    console.error(item.error);
                                });
                                msg('warning', '部分文件移动成功！'+ failedFile + ' 移动失败！', null, 3000);
                            } else {
                                msg('error', '移动失败！'+ result.error);
                            }
                        });
                    },
                    error: function (err) {
                        progress.hide(function () {
                            msg('error', '移动失败！' + err);
                        });
                    }
                });
            });
        });
        $('#copy .btn-primary').on('click', function () {
            var targetDir = $('#copy .target-dir').val(),
                item = [],
                self = this;
            $('#copy .selected-item li a').each(function (index, a) {
                item.push($(a).attr('href').split('#{url.admin}#{url.adminFile}/')[1]);
            });

            if (! item.length) {
                msg('error', '请选择需要复制的文件或文件夹！');
                return false;
            }

            if (targetDir === '/') {
                msg('error', '请选择目的路径！');
            }

            progress.show('正在复制...', function () {
                $.ajax({
                    type: 'POST',
                    url: '#{url.admin}#{url.adminFileCopy}',
                    data: {
                        files: item,
                        target: targetDir
                    },
                    dataType: 'json',
                    success: function (result) {
                        progress.hide(function () {
                            $(self).prev().trigger('click');
                            if (result.status === 1) {
                                msg('success', '复制成功！');
                            } else if (result.status === -1) {
                                var failedFile = '';
                                result.files.forEach(function (item, index) {
                                    failedFile = failedFile + item.name + ', ';
                                    console.error(item.error);
                                });
                                msg('warning', '部分文件复制成功！'+ failedFile + ' 复制失败！', null, 3000);
                            } else {
                                msg('error', '复制失败！'+ result.error);
                            }
                        });
                    },
                    error: function (err) {
                        progress.hide(function () {
                            msg('error', '复制失败！' + err);
                        });
                    }
                });
            });
        });

        $('#delete-file .btn-primary').on('click', function () {
            event.preventDefault();
            $(this).prev().click();
            progress.show('Deleting files...', function () {
                var target = $('tbody input[type="checkbox"]:checked').parent().siblings('a');
                if (target.length === 0) {
                    progress.hide(function () {
                        msg('error', '没有选中需要删除的文件。');
                    });
                    return false;
                }
                target.each(function (index, item) {
                    var url = '#{url.admin}#{url.adminFileDelete}' + $(item).attr('href').split('#{url.admin}#{url.adminFile}')[1];
                    $.ajax({
                        type: 'POST',
                        url: url,
                        dataType: 'json',
                        success: function (result) {
                            progress.hide();
                            if (result.status === 1) {
                                msg('success', 'Delete file success.');
                                $(item).parents('tr').fadeOut(200, function () {
                                    $(this).remove();
                                });
                            } else { 
                                msg('error', 'Delete file error: ' + result.error, null, 10000);
                            }
                        },
                        error: function (err) {
                            progress.hide();
                            msg('error', err, null, 10000);
                        }
                    });
                });
            });
        });

        $('#new .btn-primary').on('click', function (event) {
            var name = $('#new input[type="text"]').val(),
                type = $('input[type="radio"]:checked').val(),
                url = '#{url.admin}#{url.adminNewFile}/#{link}',
                self = this;

            progress.show(function () {
                $.ajax({
                    type: 'POST',
                    data: {
                        name: name,
                        type: type
                    },
                    url: url,
                    dataType: 'json',
                    success: function (result) {
                        progress.hide(function () {
                            if (result.status === 1) {
                                msg('success', 'Creating new file/folder success!', function () {
                                    $(self).siblings().trigger('click');
                                });
                            } else {
                                msg('error', 'Creating new file/folder error:' + result.error);
                            }
                        });
                    },
                    error: function (err) {
                        progress.hide(function () {
                            msg('error', 'Creating new file/folder error:' + err);
                        });
                    }
                });
            });
        });
        $('#rename-file .btn-primary').on('click', function (event) {
            event.preventDefault();
            progress.show('Renaming file...', function () {
                
            });
        });
        $('.select-all').on('click', function (event) {
            event.preventDefault();
            var target = $('tbody input[type="checkbox"]');
            target.each(function (index, item) {
                if (! $(item).is(':checked')) {
                    $(item).parents('.checkbox').click();
                }
            });
        });
        $('.select-none').on('click', function (event) {
            event.preventDefault();
            var target = $('tbody input[type="checkbox"]');
            target.each(function (index, item) {
                if ($(item).is(':checked')) {
                    $(item).parents('.checkbox').click();
                }
            });
        });
        $('.rename').on('click', function () {
            var target = $('tbody input[type="checkbox"]:checked').parent().siblings('a');
            $('#rename-file .modal-body li').remove();
            target.each(function (index, item) {
                $('#rename-file .modal-body ul')
                    .append($('<li>')
                        .append($('<span>').html($(item).html()))
                        .append($('<input type="text">')));
            });
        });

        $('#uploader').fileupload({
            dropZone: $('#uploader'),
            autoUpload: true,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            url: '#{url.admin}/upload/content',

        }).on('fileuploadadd', function (e, data) {
            $('.upload-picker').hide();

        }).on('fileuploadstart', function (e, data) {
            $('.upload-progress').show();

        }).on('fileuploadprogress', function (e, data) {
            var percentage = parseInt(data.loaded/data.total * 100, 10);
            $('.progress-inner').animate({
                width: percentage + '%'
            });

        }).on('fileuploaddone', function (e, data) {
            $('.upload-progress').hide();
            $('.preview-container').show();
            //- var imgUrl = '/static/#{locals.current_user.uid}/post/' + data.result.files[0].name
            $('.preview-container img').remove();
            $('.preview-container').append($('<img class="img-preview"/>').attr('src', imgUrl));
            $('.imgurl input').val(imgUrl).focus();
        }).on('fileuploadfail', function (e, data) {
            $('.upload-progress').hide();
            $('.upload-fail').show();
            $('.upload-error-text').html(data.textStatus);
            $('.upload-error-detail').html(data.errorThrown);
        });