extends admin

block admin_script
    script(type='text/javascript', src='/ace/ace.js')
    script(type='text/javascript').
        var editor = ace.edit('preview-file');
        editor.session.setMode('ace/mode/#{mode}');
        editor.setTheme('ace/theme/monokai');
        editor.session.setUseWrapMode(true);
        editor.setFontSize(14);
        editor.setReadOnly(true);

        $('.db-edit-btn').on('click', function () {
            if (editor.getReadOnly()) {
                editor.setReadOnly(false);
                $(this).find('span').html('Cancel');
                editor.focus();
            } else {
                editor.setReadOnly(true);
                $(this).find('span').html('Edit');
            }
        });

        $('.db-edit-save').on('click', function () {
            if (editor.getReadOnly()) {
                return false;
            }
            progress.show('Saving change...', function () {
                $.ajax({
                    type: 'POST',
                    url: '#{url.admin}#{url.adminFileEdit}',
                    data: {
                        file: editor.getValue(),
                        dir: '#{link}'
                    },
                    dataType: 'json',
                    success: function (result) {
                        progress.hide(function () {
                            if (result.status === 1) {
                                msg('success', 'Save change success');
                            } else {
                                msg('error', 'Save change failed: ' + result.error);
                            }
                        });
                    },
                    error: function (err) {
                        progress.hide(function () {
                            msg('error', err);
                        });
                    }
                });
            });
        });

        $('.header-btn').on('click', function () {
            $('.file-nav').toggle();
        });

        $('.raw').on('click', function () {
            window.location = $(this).find('span').data('url');
        });

block preview
    .db-file
        .db-file-wrapper
            a.header-btn(href='javascript:;'): i.fa.fa-angle-double-down
            .file-nav
                ol
                    - var i = '';
                    - each item in link.split('/')
                        li
                            - if (item === '')
                                a(href='#{url.admin}#{url.adminFile}##{i}', data-url='#{i}')  File 
                                span /
                            - else
                                - i = i + '/' + item;
                                a(href='#{url.admin}#{url.adminFile}##{i}', data-url='#{i}') #{item}
                                span /
                - var raw = link.split('/').slice(2).join('/');
                .file-tools
                    ul
                        li.btn.db-edit-btn
                            i.fa.fa-edit
                            span Edit
                        li.btn.db-edit-save
                            i.fa.fa-save
                            span Save
                        li.btn.raw
                            i.fa.fa-code
                            span(data-url='/static/#{currentUser.uid}/upload/#{raw}') Raw
            .file-preview
                #preview-file #{file}
