extends admin
block gallery
    .db-gallery
        .db-gallery-list
            ul
                li.db-new-gallery
                    form.db-new-form(method='post', action='#{url.admin}#{url.adminNewGallery}')
                        input.form-control.album-name(type='text', name='name', placeholder='Album name')
                        textarea.form-control.album-desc(name='desc', placeholder='Album desc')
                        div.album-private
                            span.checkbox
                                i.fa.fa-check-square-o
                                input(type='checkbox', name='private', checked='checked')
                            label(for='flat-checkbox-1')
                                | 私密相册
                        button.album-btn(type='submit') submit
                - albums.forEach(function (item, index) {
                    li.single-album
                        a(href='#{url.admin}#{url.adminGallery}/#{item.name}') 
                            - if (item.cover)
                                span.db-album-cover(style='background-image: url(#{item.cover})')
                            - else
                                span.db-album-cover
                            span.db-album-name
                                - if (item.private)
                                    i.glyphicon.glyphicon-lock
                                | #{item.name} (#{item.count})
                            span.db-album-desc #{item.desc}
                - })
