extends admin
block admin_css
    link(rel='stylesheet', href='/css/jquery.light-selector.css')
block admin_script
    script(type='text/javascript', src='/js/jquery.light-selector.js')
    script.
        $('select[name="theme"]').lightSelector();
        $('.header .btn').on('click', function (event) {
            event.preventDefault();
            progress.show('Updating settings...', function () {
                var title = $('input[name="name"]').val(),
                    desc = $('textarea[name="desc"]').val(),
                    logo = $('input[name="logo"]').val(),
                    favicon = $('input[name="favicon"]').val(),
                    postsNum = $('input[name="num"]').val(),
                    theme = $('option:selected').val(),
                    signup = $('input[name="signup"]').is(':checked') ? true : false;
                $.ajax({
                    type: 'POST',
                    data: {
                        name: title,
                        desc: desc,
                        logo: logo,
                        favicon: favicon,
                        num: postsNum,
                        theme: theme,
                        signup: signup
                    },
                    dataType: 'json',
                    success: function (result) {
                        progress.hide(function () {
                            if (result.status === 1) {
                                msg('success', 'Updating settings success!');
                            } else {
                                msg('error', 'Updating settings failed:' + result.error);
                            }
                        });
                    },
                    error: function (err) {
                        progress.hide(function () {
                            msg('error', 'Cannot connect to the server: ' + err);
                        });
                    }
                });
            });

        });
block settings
    .setting-section
        form.setting-wrapper(method='post', action='#{url.admin}#{url.adminSetting}')
            .header
                p.title 
                    | General
                    button.btn.btn-primary(type='submit') save
            .content
                    .row
                        label(for='name') Site Title
                        input(type='text', name='name', placeholder='Blog title', value='#{setting.name}')
                    .row
                        label(for='desc') Site Description
                        textarea(name='desc', value='#{setting.desc}') #{setting.desc}
                    .row
                        label(for='logo') Site Logo
                        input(type='text', name='logo', placeholder='Blog logo' value='#{setting.logo}')
                    .row
                        label(for='favicon') Site Favicon
                        input(type='text', name='favicon', placeholder='Blog favicon' value='#{setting.favicon}')
                    .row
                        label(for='num') Posts number per page
                        input(type='text', name='num', placeholder='Posts number per page', value='#{setting.posts_per_page}')
                    .row
                        label(for='theme') Theme
                        select(name='theme')
                            - each t in themes
                                option(value=t, selected= setting.theme === t ? true : false) #{t}
                    .row
                        label(for='signup') Allow Sign Up
                        span.checkbox
                            - if (setting.allow_sign_up)
                                i.fa.fa-check-square-o
                                input(type='checkbox', name='signup' checked)
                            - else
                                i.fa.fa-square-o
                                input(type='checkbox', name='signup')
                        