extends admin
block album
    .db-album-detail
        .db-album-wrapper
            .db-album-info
                .db-album-cover
                    .cover(style='background-image: url(#{album.cover})')
                h2.db-album-name
                    p #{album.name}
                .db-album-desc #{album.desc}
                a.upload-btn(href='javascript:;', data-toggle='modal', data-target='#upload-image')
                    i.glyphicon.glyphicon-cloud-upload.upload-icon
                    | 上传相片
                a.edit-btn(href='javascript:;')
                    i.glyphicon.glyphicon-edit.edit-icon
                    | 编辑
            .images#links
                - if (images.length === 0)
                    p.no-image This album doesn't have any image yet!
                - if (images && Object.prototype.toString.call(images) === '[object Array]')
                    - each img in images
                        a.db-img-container(href='#{img.path}')
                            img.db-img(src='#{img.path}')
                - else if (images && typeof images === 'object')
                    a.db-img-container(href='#{images.path}')
                        span.db-img(style='background-image:url(#{images.path})')
                        span.db-img-desc #{images.desc}
                .blueimp-gallery.blueimp-gallery-controls#blueimp-gallery
                    .slides
                    h3.title
                    a.prev
                    a.next
                    a.close
                    a.play-pause
                    ol.indicator
            .modal#upload-image
                .modal-wrapper
                    .modal-header
                        button.close.fa.fa-times(type='button', data-dismiss='modal')
                        h4.modal-title 上传相片
                    .modal-body
                        .imgupload#uploader
                            a(href='javascript:;').upload-picker
                                img(src='/img/image.png')
                                span(href='javascript:;') 选择图片
                                p 或者拖动图片到此区域。
                            input.fileinput(type='file', name='image', accept='image/*',multiple)

                        .img-list
                            table
                                thead
                                    tr
                                        th File name
                                        th File size
                                        th Progress
                                        th Action
                                tbody.upload-list

                        
                    .modal-footer
                        button.btn(href='javascript:;') 取消
                        button.btn.btn-primary(href='javascript:;') 完成


block admin_script
    script(type='text/javascript', src='/js/jquery.ui.widget.js')
    script(type='text/javascript', src='/js/jquery.iframe-transport.js')
    script(type='text/javascript', src='/js/jquery.fileupload.js')
    script(type='text/javascript', src='/js/blueimp-gallery.min.js')
    - var type = album.private ? 'private' : 'public';
    script.
        $('.upload-picker').on('click', function (event) {
            event.preventDefault();
            $('.fileinput').trigger('click');
        });

        $('#uploader').fileupload({
            dropZone: $('#uploader'),
            url: '#{url.admin}#{url.adminGalleryUpload}/#{type}/#{album.name}',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            singleFileUploads: true,
            add: function (e, data) {
                $('.imgupload').hide();
                $('.img-list').show();
                $('.modal-footer .btn-primary').html('开始上传').addClass('upload-all');
                $.each(data.files, function (index, file) {
                    var size = file.size/(1024*1024) > 1 ? Math.ceil(file.size/(1024*1024)) + ' M' : Math.ceil(file.size/1024) + ' K'
                    var singleFile = $('<tr>')
                                        .append($('<td>').html(file.name).addClass('file-name'))
                                        .append($('<td>').html(size).addClass('file-size'))
                                        .append($('<td>')
                                            .append($('<span class="file-progress"><span class="file-progress-inner"></span></span>')))
                                        .append($('<td>')
                                            .append($('<button>').html('上传').addClass('start-upload btn btn-primary'))
                                            .append($('<button>').html('移除').addClass('remove-file btn btn-danger')));
                    $(singleFile).find('.start-upload').on('click', function () {
                        data.submit();
                    });
                    $('.upload-list').append(singleFile);
                });
            },
            start: function (e, data) {

            },
            progress: function (e, data) {

            },
            done: function (e, data) {

            },
            fail: function (e, data) {
            
            }
        });
block admin_css
    link(rel='stylesheet', href='/css/blueimp-gallery.min.css')