extends admin
block album
    .db-album-detail
        .db-album-wrapper
            .db-album-info
                .db-album-cover
                    .cover(style='background-image: url(#{album.cover})')
                h2.db-album-name
                    p #{album.name}
                .db-album-desc #{album.desc}
                .db-album-menu
                    a.upload-btn(href='javascript:;', data-toggle='modal', data-target='#upload-image')
                        i.fa.fa-cloud-upload.upload-icon
                        | 上传相片
                    a.edit-btn(href='javascript:;')
                        i.fa.fa-edit.edit-icon
                        | 编辑相册
                    a.delete-btn(href='javascript:;')
                        i.fa.fa-trash
                        | 删除图片
            .images#links
                .img-delete-menu
                    ul
                        li: a(href='javascript:;')
                            i.fa.fa-check-square
                            | Select all
                        li: a(href='javascript:;')
                            i.fa.fa-check-square-o
                            | Select none
                        li: a.delete(href='javascript:;')
                            i.fa.fa-trash
                            | Delete
                        li: a.cancel-btn(href='javascript:;')
                            i.fa.fa-times
                            | Cancel
                .images-container
                    - if (images.length === 0)
                        p.no-image This album doesn't have any image yet!
                    - if (images && Object.prototype.toString.call(images) === '[object Array]')
                        - each img in images
                            a.db-img-container(href='#{img.path}', data-id='#{img.id}')
                                img.db-img(src='#{img.thumb}')
                .blueimp-gallery.blueimp-gallery-controls#blueimp-gallery
                    .slides
                    h3.title
                    a.prev
                    a.next
                    a.close
                    a.play-pause
                    ol.indicator
            .modal#upload-image
                .modal-wrapper
                    .modal-header
                        button.close.fa.fa-times(type='button', data-dismiss='modal')
                        h4.modal-title 上传相片
                    .modal-body
                        .imgupload#uploader
                            a(href='javascript:;').upload-picker
                                img(src='/img/image.png')
                                span(href='javascript:;') 选择图片
                                p 或者拖动图片到此区域。
                            input.fileinput(type='file', name='image', accept='image/*',multiple)

                        .img-list
                            table
                                thead
                                    tr
                                        th File name
                                        th File size
                                        th Progress
                                        th Action
                                tbody.upload-list
                    .modal-footer
                        button.btn(href='javascript:;') 取消
                        button.btn.btn-primary.upload-all(href='javascript:;') 完成


block admin_script
    script(type='text/javascript', src='/js/jquery.ui.widget.js')
    script(type='text/javascript', src='/js/jquery.iframe-transport.js')
    script(type='text/javascript', src='/js/jquery.fileupload.js')
    script(type='text/javascript', src='/js/blueimp-gallery.min.js')
    - var type = album.private ? 'private' : 'public';
    script.
        var uploadedImage = [];

        $('.upload-picker').on('click', function (event) {
            event.preventDefault();
            $('.fileinput').trigger('click');
        });

        $('.upload-all').on('click', function () {
            $('.start-upload').eq(0).trigger('click');
        });

        $('.delete-btn, .cancel-btn').on('click', function () {
            var menu = $('.img-delete-menu');
            if (menu.is(':visible')) {
                menu.slideUp();
                $('.db-img-container').off('click', selectImg).removeClass('selected');
            } else {
                menu.slideDown();
                $('.db-img-container').on('click', selectImg);
            }
        });

        $('.delete').on('click', function () {
            var ids = [];
            if (! $('.db-img-container.selected').length) {
                return false;
            }
            $('.db-img-container.selected').each(function (index, item) {
                ids.push({
                    id: $(item).data('id'),
                    path: $(item).attr('href').split('/').pop()
                });
            });
            $.ajax({
                type: 'delete',
                url: '#{url.admin}/#{url.adminGalleryDelete}/#{type}/#{album.name}',
                data: {
                    ids: ids
                },
                dataType: 'json',
                success: function (result) {
                    if (result.status === 1) {
                        $('.db-img-container.selected').remove();
                    } else {
                        msg('error', result.err);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        function selectImg (event) {
            event.preventDefault();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                $(this).addClass('selected');
            }
        }



        $('#uploader').fileupload({
            dropZone: $('#uploader'),
            url: '#{url.admin}#{url.adminGalleryUpload}/#{type}/#{album.name}',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            singleFileUploads: true,
            dataType: 'json',
            add: function (e, data) {
                $('.imgupload').hide();
                $('.img-list').show();
                $('.modal-footer .btn-primary').html('开始上传').addClass('upload-all');
                var file = data.files[0],
                    size = file.size/(1024*1024) > 1 ? 
                        Math.ceil(file.size/(1024*1024)) + ' M' : Math.ceil(file.size/1024) + ' K',
                    singleFile = $('<tr>'),
                    name = $('<td>').html(file.name).addClass('file-name'),
                    size = $('<td>').html(size).addClass('file-size'),
                    progress = $('<td>')
                        .append($('<span class="file-progress"><span class="file-progress-inner"></span></span>')),
                    action = $('<td>')
                        .append($('<button>').html('上传').addClass('start-upload'))
                        .append($('<button>').html('移除').addClass('remove-file btn btn-danger'))
                        .append($('<span>').html('0%').addClass('file-upload-percentage'));

                singleFile.append(name).append(size).append(progress).append(action);
                action.find('.start-upload').on('click', function () {
                    data.submit();
                });
                $('.upload-list').append(singleFile);
                data.context = singleFile;
            },
            progress: function (e, data) {
                var percentage = parseInt((data.loaded/data.total) * 100, 10) + '%';
                data.context.find('.file-progress-inner').css({
                    width: percentage
                });
                data.context.find('.file-upload-percentage').html(percentage);
            },
            done: function (e, data) {
                uploadedImage.push(data.result[0]);
                data.context.find('.remove-file').off('click').on('click', function () {
                    $.ajax({
                        url: data.result[0].deleteUrl,
                        type: data.result[0].deleteType,
                        dataType: 'json',
                        success: function (result) {
                            if (result.status === 1) {
                                data.context.fadeOut(function () {
                                    this.remove();
                                });
                            } else {
                                msg('error', '删除图片失败！');
                            }
                        },
                        error: function (err) {
                            msg('error', err);
                        }
                    });
                });
                if (data.context.next().length) {
                    data.context.next().find('.start-upload').trigger('click');
                } else {
                    $('.upload-all').html('上传完成').off('click').on('click', function () {
                        $(this).parents('.modal').fadeOut(function () {
                            $('.upload-list tr').remove();
                            $('.img-list').hide();
                            $('.imgupload').show();
                            if (! $('.db-img-container').length) {
                                $('.no-image').remove();
                            }
                            uploadedImage.forEach(function (img, index) {
                                var aLink = $('<a href="' + img.url + '">').addClass('db-img-container'),
                                    i = $('<img>').attr('src', img.thumbnailUrl).addClass('db-img');

                                $('.images-container').append(aLink.append(i));
                            });
                        });
                    });
                }
            },
            fail: function (e, data) {
                alert('upload faild');
            }
        });
block admin_css
    link(rel='stylesheet', href='/css/blueimp-gallery.min.css')