extends layout

block extra_css
    link(rel='stylesheet', href='/css/style.css')
    block admin_css


block content
    section.db-admin
        nav.db-nav
            div.db-nav-wrapper
                div.db-brand-wrapper
                    a.db-brand(href='/')
                        i.fa.fa-home
                div.db-nav-menu
                    ul.db-menu-wrapper
                        li: a(href='/')
                            i.fa.fa-home
                        li: a(href='#{url.admin}') 
                            i.fa.fa-dashboard
                        li: a(href='#{url.admin}#{url.adminPost}') 
                            i.fa.fa-archive
                        li: a(href='#{url.admin}#{url.adminGallery}')
                            i.fa.fa-image
                        li: a(href='#{url.admin}#{url.adminFile}')
                            i.fa.fa-folder-open
                        - if (currentUser.role === 'admin')
                            li.db-setting-btn: a(href='#{url.admin}#{url.adminSetting}')
                                i.fa.fa-wrench
        .db-header-container
            nav.db-header-nav
                ul.db-nav-left
                    li.navbar-btn
                        a(href='javascript:;')
                            i.fa.fa-list
                    li
                        a(href='#{url.admin}#{url.adminNewPost}') 
                            i.fa.fa-pencil
                .db-dashboard-title Dashboard
                ul.db-nav-right
                    li: a.db-user-avatar(href='#{url.admin}#{url.adminUser}/#{currentUser.uid}' style='background-image: url(#{currentUser.avatar})')
                    li: a(href='#{url.admin}#{url.adminSignOut}')
                        i.fa.fa-sign-out
                        


        block post_content
        block new_post
        block gallery
        block files
        block upload
        block settings
        block user
        block preview
        block album
block extra_script
    - var urlString = JSON.stringify(url)
    script.
        var url = JSON.parse('#{urlString}');
    block admin_script
 