extends admin
block files
    .db-file
        .db-file-wrapper
            .file-nav
                ol
                    li: a(href='#{url.admin}#{url.adminFile}') files
                .file-tools
                    ul
                        li.btn.new-folder
                            i.fa.fa-folder-o
                            | New folder
                        li.btn.new-file
                            i.fa.fa-file
                            | New file
                        li.btn.rename
                            i.fa.fa-edit
                            | Rename
                        li.btn.move
                            i.fa.fa-scissors
                            | Move
                        li.btn.copy
                            i.fa.fa-copy
                            | Copy
                        li.btn.delete(data-toggle='modal', data-target='#delete-file')
                            i.fa.fa-trash-o
                            | Delete
                        li.btn.download
                            i.fa.fa-download
                            | Download
            .file-list
                table.file-list-wrapper
                    thead
                        tr
                            th Name
                            th Create Time
                            th Last Modified Time
                            th Size
                    tbody
                        tr
                            td
                                i.fa.fa-folder-open
                                a.db-filename(href='#{url.admin}#{url.adminPublicFile}') Public
                            td 
                            td 
                            td 0
                        tr
                            td
                                i.fa.fa-folder-open
                                a.db-filename(href='#{url.admin}#{url.adminPrivateFile}') Private
                            td 
                            td 
                            td 0