extends layout
block extra_css
    link(rel='stylesheet', href='#{assetsUrl.serverSideAssets}/css/sign.min.css')
    
    - var bg = background === assetsUrl.serverSideAssets + '/img/default_background.jpg' ? assetsUrl.serverSideAssets + '/img/default_background.jpg' : '/static/background/' + background;
    style.
        .db-sign {
        background: url(#{bg});
        background-position: center;
        background-size: cover;
        }
block extra_script
    script.
        $('.db-submit').on('click', function (e) {
            e.preventDefault();
            var username = $('input[name="username"]').val(),
                password = $('input[name="password"]').val();
            progress.show('正在登录中...', function () {
                $.ajax({
                    type: 'POST',
                    data: {
                        username: username,
                        password: password
                    },
                    dataType: 'json',
                    success: function (result) {
                        progress.hide(function () {
                            if (result.status === 1) {
                                msg('success', result.user + ' 欢迎回来 ~', function () {
                                    window.location = '#{referer}';
                                }, 1000);
                            } else {
                                msg('error', result.error, null, 10000);
                            }
                        });
                    },
                    error: function (err) {
                        msg('error', '无法提交登录请求到服务器！', null, 10000);
                    }
                });
            });
        });

block content
    .db-sign
        form.db-sign-form(action='#{url.admin}#{url.adminSignIn}', method='post')
            .db-outer
                .db-inner
                    span.db-sign-title Sign in
            .db-outer
                .db-inner
                    i.fa.fa-user.db-icon.db-sign-icon
                    input(type='text', name='username')
            .db-outer
                .db-inner
                    i.fa.fa-lock.db-icon.db-sign-icon
                    input(type='password', name='password')
            .db-outer
                button.db-submit(type='submit') Submit
            .db-outer
                .db-inner.db-sign-helper
                    span: a.db-sign-btn(href='#{url.admin}#{url.adminSignUp}') 注册
                    span: a.db-forget-btn(href='') 忘记密码？
            .db-outer
                .db-inner
                    hr
                    span.db-info
                        | Created By serenader with 
                        i.fa.fa-heart
            