extends index_layout
block index_script
    script(type='text/tempalte' id='template').
        <div class='post-wrapper'>
            <div class='post-title'>
                <a href=''></a>
            </div>
            <div class='post-info'>
                <a class='post-author' href=''><img></img></a>
                <a class='post-category' href=''></a>
                <span class='post-date'></span>
                <span class='post-views'></span>
            </div>
            <div class='post-content'>
                <span class='post-excerpt'>
                </span>
                <span>
                    <a href='' class='post-read-more'>Read More</a>
                </span>
            </div>
        </div>
    script.
        $('.load-more a').on('click', function (event) {
            event.preventDefault();
            var self = this;
            var page = ($('.post-wrapper').length)/10;
            progress.show('正在载入更多文章...', function () {
                $.ajax({
                    type: 'GET',
                    url: '/loadmore?page=' + page + '&num=#{setting.posts_per_page}',
                    dataType: 'json',
                    success: function (data) {
                        progress.hide(function () {
                            if (!data[0]) {
                                msg('error', '没有更多的文章了。');
                                return false;
                            }
                            data.forEach(function (post, index) {
                                var tmpl = $('#template').html();
                                $('.post-wrapper:last').after(
                                    $(tmpl)
                                        .find('.post-title a').attr('href', '#{url.indexPost}/' + post._id).html(post.title).end()
                                        .find('.post-author').attr('href', '#{url.indexUser}/' + post.author).find('img').attr('src','/static/' + post.author + '/avatar.jpg').end().end()
                                        .find('.post-category').attr('href', '#{url.indexCategory}=' + post.category).html(post.category).end()
                                        .find('.post-date').html(post.date[0].month + '/' + post.date[0].date).end()
                                        .find('.post-views').html('Views: ' + post.views).end()
                                        .find('.post-excerpt').html(post.excerpt + '...').end()
                                );
                            });
                        });
                    },
                    error: function (err) {
                        progress.hide(function () {
                            msg('error', err.statusText, null, 10000);
                        });
                    }
                });
            });
        });
block inner
    .blog
        h2.blog-name 
            a(href='/') #{setting.name}
            .blog-desc #{setting.desc}
    .index-wrapper
        - if (posts.length === 0)
            .no-post The website doesn't have any post yet!
        - each post in posts
            .post-wrapper
                .post-title: a(href='#{url.indexPost}/#{post._id}') #{post.title}
                .post-info 
                    a.post-author(href='#{url.indexUser}/#{post.author}'): img(src='/static/#{post.author}/avatar.jpg') 
                    a.post-category(href='#{url.indexCategory}#{post.category}') #{post.category}
                    span.post-date #{post.createDate.month}/#{post.createDate.day}
                    span.post-views Views: #{post.views}
                .post-content
                    span.post-excerpt  #{post.excerpt} ... 
                    span: a.post-read-more(href='#{url.indexPost}/#{post._id}') Read More
        - if (posts.length === setting.posts_per_page)
            .load-more
                a(href='javascript:;')
                    i.fa.fa-angle-double-down
                    span 加载更多
                    i.fa.fa-angle-double-down
